Letsgobiking/RoutingServer/Connected Services/ServiceReference1/Proxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Proxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/IProxy/Proxy?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/IProxy/Proxy?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/IProxy/Proxy?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PROXY" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProxy_GetContrat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContrat" />
  </wsdl:message>
  <wsdl:message name="IServiceProxy_GetContrat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContratResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProxy_GetNombreVelo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNombreVelo" />
  </wsdl:message>
  <wsdl:message name="IServiceProxy_GetNombreVelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNombreVeloResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProxy">
    <wsdl:operation name="GetContrat">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProxy/GetContrat" message="tns:IServiceProxy_GetContrat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProxy/GetContratResponse" message="tns:IServiceProxy_GetContrat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNombreVelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProxy/GetNombreVelo" message="tns:IServiceProxy_GetNombreVelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProxy/GetNombreVeloResponse" message="tns:IServiceProxy_GetNombreVelo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProxy" type="tns:IServiceProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContrat">
      <soap:operation soapAction="http://tempuri.org/IServiceProxy/GetContrat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNombreVelo">
      <soap:operation soapAction="http://tempuri.org/IServiceProxy/GetNombreVelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Proxy">
    <wsdl:port name="BasicHttpBinding_IServiceProxy" binding="tns:BasicHttpBinding_IServiceProxy">
      <soap:address location="http://localhost:8090/IProxy/Proxy" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>